.education{
    height: auto;
    width: auto;
    margin: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
    .title{
        font-weight: bold;
        text-align: center;
        font-size: 3rem;
    }

}