.education{
    height: auto;
    width: 40%;
    margin: 1rem auto;
    padding: 1rem;
    flex-wrap: wrap;
    .title{
        font-weight: bold;
        text-align: center;
        font-size: 3rem;
        .grade{
            font-weight: bold;
            background: -webkit-linear-gradient(-45deg, #ee582a, #b01b54, #264deb, #23d5ab);
           -webkit-background-clip: text;
           -webkit-text-fill-color: transparent;       
        }
    }

}