.college{
    .college-wrapper{
        border: 0.01rem solid #f8f3f3;
        background-color: #f8f3f3;
        color: black;
        height: auto;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
        padding: 1rem;
        text-align: center;
        justify-content: space-between;//check
        .college-pic{
            margin-top: 1rem;
            margin-bottom: 0.6rem;
            height: 10rem;
            width: 10rem;

        }
        .college_name,.degree_name,.specialisation{
            font-weight: bold;
            font-size: larger;
        }
        .college_timeline{
            font-weight: lighter;
            font-size:small;
        }
        
    }
    .college-wrapper:hover{
        box-shadow: 0 0 60px #f8f3f3;
    }
    
}
.college-pic:hover{
    transform: scale(1.09);
}
.college-wrapper:hover{
    transform: scale(1.09);
}
@media (max-width:959px){
    .college{
        .college-wrapper{
            border: 0.01rem solid #f8f3f3;
            background-color: #f8f3f3;
            color: black;
            height: auto;
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            border-radius: 20px;
            padding: 0.7rem;
            text-align: center;
            justify-content: space-between;//check
            .college-pic{
                margin-top: 1rem;
                margin-bottom: 0.6rem;
                height: 8rem;
                width: 8rem;
    
            }
            .college_name,.degree_name,.specialisation{
                font-weight: bold;
                //font-size: larger;
                font-size: 1rem;
            }
            .college_timeline{
                font-weight: lighter;
                font-size:small;
            }
            
        }
        .college-wrapper:hover{
            box-shadow: 0 0 60px #f8f3f3;
            transform: scale(1.09);
        }
        
    }
}