.hero{
    height: auto;
    width: auto;
    margin: -6rem 1rem 1rem 1rem;
    padding: 10rem 1rem 1rem 1rem;
    // border: 0.02rem solid black;
    // border-radius: 2rem;
    // font-size: 1.4rem;
    flex-wrap: wrap;
    .wave {
        animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
        animation-duration: 2.5s;        /* Change to speed up or slow down */
        animation-iteration-count: infinite;  /* Never stop waving :) */
        transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
        display: inline-block;
      }
      

      @keyframes wave-animation {
          0% { transform: rotate( 0.0deg) }
         10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
         20% { transform: rotate(-8.0deg) }
         30% { transform: rotate(14.0deg) }
         40% { transform: rotate(-4.0deg) }
         50% { transform: rotate(10.0deg) }
         60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
        100% { transform: rotate( 0.0deg) }
      }
      
    .greeting-text{
        display: block;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        //font-weight: bold;
       // font-size: 30px;
       // text-align: center;
    }
    .tex-left{
        font-size: 2rem;
        font-weight: bold;
    }
    .text-right{
        margin-top: 1rem;
        margin-left: 10%;
        font-size: 2rem;
      }
    .greeting-text-para{
        display: block;
    //margin-block-start: 1em;
    //margin-block-end: 1em;
    //margin-inline-start: 0px;
    //margin-inline-end: 0px;
    margin-top: 1rem;
    text-align: center;
   font-size: 8.7rem;
    
    }
    h2{
      display: inline;
    }
    .grade{
        font-weight: bold;
        background: linear-gradient(-90deg,  #EE0979, #FF6A00, #fcfc8f);
       -webkit-background-clip: text;
       background-size: 200%;
       -webkit-text-fill-color: transparent; 
       animation: grading 8s ease infinite;      
    }
    @keyframes grading {
      from {
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        -ms-filter: hue-rotate(0);
        filter: hue-rotate(0);
      }
      to {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        -ms-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
      }
      
    }
    // .text{
    //     display: inline;
    // }
    // .my-photo{
    //     border-radius: 200px;
    //     float: right;
    //     height: 10rem;
    //     width: 10rem;
    //     display: inline;
    // }
}
// .hero:hover{
//     box-shadow: 0 0 110px rgba(20, 17, 17, 0.2); 
// }
@media (max-width: 959px) {
  .hero{
    height: auto;
    width: 100%;
    margin: 0rem;
    padding: 10rem 0rem 0.2rem 0rem;
    // border: 0.02rem solid black;
    // border-radius: 2rem;
    // font-size: 1.4rem;
    //flex-wrap: wrap;
    .wave {
        animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
        animation-duration: 2.5s;        /* Change to speed up or slow down */
        animation-iteration-count: infinite;  /* Never stop waving :) */
        transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
        display: inline-block;
      }
      

      @keyframes wave-animation {
          0% { transform: rotate( 0.0deg) }
         10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
         20% { transform: rotate(-8.0deg) }
         30% { transform: rotate(14.0deg) }
         40% { transform: rotate(-4.0deg) }
         50% { transform: rotate(10.0deg) }
         60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
        100% { transform: rotate( 0.0deg) }
      }
      
    .greeting-text{
        display: block;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        //font-weight: bold;
       // font-size: 30px;
       // text-align: center;
    }
    .tex-left{
        font-size: 2rem;
        font-weight: bold;
        padding: 1rem;
    }
    .text-right{
        margin-top: 1rem;
       // margin-left: 10%;
        font-size: 1.1rem;
        font-weight: bold;
      }
    .greeting-text-para{
        display: block;
    //margin-block-start: 1em;
    //margin-block-end: 1em;
    //margin-inline-start: 0px;
    //margin-inline-end: 0px;
    margin-top: 1rem;
    text-align: center;
   font-size: 3rem;
    
    }
    h2{
      display: inline;
    }
      
    }

}
