.skills-wrapper{
    border: 0.01rem solid black;
    height: auto;
    width: auto;
    border-radius: 20px;
    padding: 1rem;
    margin: 1rem;
    
    justify-content: space-between;//check

    .skills_heading{
        font-size: 3rem;
        text-align: center;
        font-weight: bold;
        display: block;
    }
    .skills_sub_title{
        display: block;
        //text-align: center;
    }
    .skills_collection{
//         .dev_icons{
//             padding-left: 0;
//             list-style: none;
//             margin-bottom: 0;
//             margin-top: 0;
//             .li{
//                 display: inline;
//                 //align-items: center;
//             }
// }
        
            .honeycomb{
                
            }


}
}
   

.skills:hover{
    box-shadow: 0 0 110px rgba(20, 17, 17, 0.2); 
}