    
    .project-wrapper{  
          
        //border: 0.01rem solid black;
        height: auto;
        width: 40%;
       // border-radius: 20px;
        padding: 1rem;
        margin: 1rem auto;
        //text-align: center;
        //justify-content: space-between;//check
        .content{
            margin-bottom: 6rem;
        }
        .title{
            font-weight: bold;
            font-size: 3rem;
            margin-left: 0rem;
        }
        .grade {
            font-weight: bold;
            text-align: left;
            font-weight: bold;
            background: -webkit-linear-gradient(
              -45deg,
              #ee582a,
              #b01b54,
              #264deb,
              #23d5ab
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          .project-content{
            margin-bottom: 2rem;
            font-size: 1.3rem;
          }
        .allprojectCard-wrapper{
            //border: 0.01erem solid black;
            text-align: center;
            display: inline;
            flex-wrap: wrap;
            height: auto;
            //width: auto;
            //border-radius: 20px;
            padding:1rem;
            margin-left: auto;
            margin-right: auto;
            //margin-top: 3rem;

        }
    }