.achievements{
    height: auto;
    width: 40%;
    margin: 1rem auto;
    padding: 1rem;
    //border: 0.02rem solid black;
    //border-radius: 2rem;
    font-size: 2rem;
    flex-wrap: wrap;
    .title{
        text-align: center;

    }
    
}