
$mcolor : #10101a; 
$mfont : 'Mark Pro', sans-serif;

.header{
    width : 70%;
    //position: fixed;
    top: 4rem;
    left : 0;
    right: 0;
    padding: 0.9rem 2rem;
    display: flex;
    justify-content: space-between;
    //align-items: center;
    margin-left: auto;
    margin-right: auto;
    //text-align: center;
    border: 0.2rem solid rgb(73, 64, 64);
    border-radius:2rem ;
    .name-logo{
        display: inline-block;
        .abhiLogo{
            height: 70px;

        }
        .name{
            display: inline-block;
        }
    }
    .menu{
        // .p{
            display: inline;
            .menu-text{
                display: inline;
                float: left;
                //margin: 1rem;
            }
        // }
        // .img{
        //     display: inline;
            
        // }
       
        .hamburger-open{
            display: inline;
            // background-color: #fcfcfc;
            border-radius: 25rem;
            height: 20px;
            margin: 20px;
            cursor: pointer;
            // box-shadow: 0rem 0rem 10rem 2rem #fcfcfc;
            
        }
        .hamburger-open:hover{
            transform: scale(1.2);
            transition: 2s;
        }
        //display: inline-block;
        float: right;
        
    }
}
@media (max-width:959px) {
    
.header{
    width : 80%;
    padding: 1rem 0.7rem 0rem;

    .name-logo{

        .abhiLogo{
            height: 30px;
            z-index: -1;
        }
        
}
}}