.lamp{
    display: inline;
    background-size: 10px;
    background-color: #fcfcfc;
    padding: 0.1rem;
    border-radius:14rem 0rem 14rem 14rem;
    box-shadow: 0rem 0rem 10rem 1rem #fcfcfc;
    float: right;
}

.waveImg {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 3.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
   // transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
    
  }
  

  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
.lamp:hover{
    transform: scale(1.2);
}
@media (max-width:959px){
    .lamp{
        display: none;
    }
}
