$mcolor : #10101a; 
$mfont : 'Mark Pro', sans-serif;

.App{
  //  color:azure;
    .dark{
      color: #fcfcfc;
      // background-color: $mcolor;
    }
    .light{
      color: black;
      background-color: #fcfcfc;
    }
    color: #fcfcfc;
     margin:  -9px;
     font-family: $mfont;
     text-align: justify;
}